click
filelock
future
#gym
h5py
HeapDict
html5lib
imageio
intel-openmp
ipykernel
ipython
ipython-genutils
ipython-sql
ipywidgets
jupyter-client
jupyter-console
jupyter-core
jupyterlab-widgets
Markdown
matplotlib
mkl
multidict
multitasking
nbconvert
nbformat
notebook
numba
numexpr
numpy
opencv-python
pandas
pathlib
Pillow
plotly
pytest
regex
requests
scikit-image
scikit-learn
scipy
seaborn
sympy
tensorflow
torch
torchvision
torchaudio 
xlrd
xlwt
pyinstaller
cx_Freeze
PySide2
# Added 2022-10-25
jupyterlab
ray[tune,rllib]
gym[atari,accept-rom-license]==0.21.0
